.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.btn-regular{
    width: 150px;
    background-color: rgb(255, 183, 0);
    border: 1px solid lightgray;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
}